@page
@model MessagingModel
@{
    ViewData["Title"] = "Projects - Messaging";
}
<section id="intro">
    <h1>Messaging</h1>
    <hr />
    <p>A simple, open-source, online chat room.</p>
    <hr round="true" />
</section>
<section id="details">
    <div class="row">
        <div class="long-description">
            <div>
                <h2>Overview</h2>
                <hr />
                <p>
                    A simple, open-source, online chat room where you can join online chat rooms, or create your own. <br>
                    Made with the technologies below.
                </p>
            </div>
        </div>
        <div class="screenshots">
            <div class="computer">
                <img src="/images/messagingComputer.png" alt="Image of Messaging Project">
            </div>

            <div class="mobile">
                <img src="/images/messagingMobile.png" alt="Image of Messaging Project">
            </div>
        </div>
    </div>
    <hr round="true" />
</section>

<section id="technologies">
    <div>
        <h2>Technologies</h2>
        <hr>
        <p>
            This project was built using handcrafted Javascript, as well as Node.js, Socket.io, and Express. It also uses nodemon for running in development.
        </p>
    </div>
</section>

<section id="demo-link">
    <h1>Live Demo</h1>
    <hr />
    <a href="https://chat.henryhiles.com" target="_blank" rel="noreferrer" class="computer">
        <img src="/images/messagingComputer.png" alt="Image of Messaging Project">
        <img src="~/images/play.png" class="play" alt="Go to PokeAPI Searcher Demo">
    </a>
</section>