@page
@model MessagingModel
@{
    ViewData["Title"] = "Projects - Messaging";
}
<section id="intro">
    <h1>Messaging</h1>
    <hr />
    <p>A simple, open-source, online chat room.</p>
    <hr round="true" />
</section>
<section id="details">
    <div class="row">
        <div class="long-description">
            <div>
                <h2>Overview</h2>
                <hr />
                <p>
                    A simple, open-source, online chat room made with the technologies listed below. <br>
                    A simple website where you can join online chat rooms, or create your own.
                </p>
            </div>
        </div>
        <div class="screenshots">
            <div class="computer">
                <img src="/images/messagingComputer.png" alt="Image of Messaging Project">
            </div>

            <div class="mobile">
                <img src="/images/messagingMobile.png" alt="Image of Messaging Project">
            </div>
        </div>
    </div>
    <hr round="true" />
</section>

<section id="technologies">
    <div>
        <h2>Technologies</h2>
        <hr>
        <p>
            This project was built using handcrafted Javascript, as well as Node.js, Socket.io, and Express.
        </p>
    </div>
</section>