@page
@model PokeAPIModel
@{
    ViewData["Title"] = "Projects - PokeAPI";
}
<section id="intro">
    <h1>PokeAPI Searcher</h1>
    <hr />
    <p>A simple PokeAPI Searcher interface, made with html elements, CSS, and JavaScript. Uses <a target="_blank" rel="noreferrer" href="https://pokeapi.co/">PokeAPI</a>.</p>
    <hr round="true" />
</section>
<section id="details">
    <div class="row">
        <div class="long-description">
            <div>
                <h2>Overview</h2>
                <hr />
                <p>
                    A simple PokeAPI Searcher interface, made with the technologies listed below.
                    <br><br>
                    A simple website where you can search for Pokemon by type or Pokedex. Uses the PokeAPI for data.
                    Uses the Fetch API for querying PokeAPI.
                    The source code can be found on <a target="_blank" rel="noreferrer" href="https://github.com/Henry-Hiles">my github</a>.
            </a>
                </p>
            </div>
            <div>
                <h2>Technologies</h2>
                <hr>
                <p>
                    This project made purely of HTML, CSS, and Vanilla Javascript, using the Fetch API for querying <a target="_blank" rel="noreferrer" href="https://pokeapi.co/">PokeAPI</a>.
                    <br><br>
                    It uses no bloated frontend technologies, making for quick loading times and fewer requests.
                </p>
            </div>
        </div>
        <a href="/demos/pokeAPI/" target="_blank" rel="noreferrer" class="screenshots">
            <div class="computer">
                <img src="/images/pokeAPIComputer1.png" alt="Image of PokeAPI Searcher Project">
            </div>

            <div class="computer">
                <img src="/images/pokeAPIComputer2.png" alt="Image of PokeAPI Searcher Project">
            </div>

            <div class="mobile">
                <img src="/images/pokeAPIMobile.png" alt="Image of PokeAPI Searcher Project">
            </div>
        </a>
    </div>
    <hr round="true" />
</section>
<section id="demo-link">
    <h1>Live Demo</h1>
    <hr />
    <a href="/demos/pokeAPI/" target="_blank" rel="noreferrer" class="computer">
        <img src="/images/pokeAPIComputer2.png"
            alt="Image of PokeAPI Searcher Project">
        <img src="~/images/play.png" class="play" alt="Go to PokeAPI Searcher Demo">
    </a>
</section>