@page
@model QuadraticBotModel
@{
    ViewData["Title"] = "Projects - QuadraticBot 2.0";
}
<section id="intro">
    <h1>QuadraticBot 2.0</h1>
    <hr />
    <p>A simple, open-source, user-friendly Discord giveaway bot.</p>
    <hr round="true" />
</section>
<section id="details">
    <div class="row">
        <div class="long-description">
            <div>
                <h2>Overview</h2>
                <hr />
                <p>
                    A simple, open-source, user-friendly Discord giveaway bot that uses the latest features, such as slash commands, timestamps, and buttons. 
                    <br /><br />
                    It's a rewrite of my original closed-source Discord bot, Quadratic Giveaways.
                    <br><br>
                    <a target="_blank" rel="noreferrer" href="https://discord.com/api/oauth2/authorize?client_id=930172444910702653&permissions=150528&scope=applications.commands%20bot">Invite it to your server here!</a>
                </p>
            </div>
        </div>
        <div class="screenshots">
            <div class="computer">
                <img src="/images/quadraticBotComputer.png" alt="Image of QuadraticBot 2.0 Project">
            </div>
        </div>
    </div>
    <hr round="true" />
</section>

<section id="technologies">
    <div>
        <h2>Technologies</h2>
        <hr>
        <p>
            This project was built using handcrafted Javascript and <a target="_blank" rel="noreferrer" href="https://discord.js.org/#/docs/discord.js/stable/general/welcome">Discord.js</a>.
        </p>
    </div>
</section>