@page
@model ZoomModel
@{
    ViewData["Title"] = "Projects - Zoom Clone";
}
<section id="intro">
    <h1>Zoom Clone</h1>
    <hr />
    <p>A simple, open-source, online Zoom clone.</p>
    <hr round="true" />
</section>
<section id="details">
        <div class="long-description">
                <h2>Overview</h2>
                <hr />
                <p>
                    A simple, open-source, online Zoom clone where you can join online calls, or create your own. <br>
                    Made with the technologies below.
                </p>
    <hr round="true" />
</section>

<section id="technologies">
    <div>
        <h2>Technologies</h2>
        <hr>
        <p>
            This project was built using handcrafted Javascript, as well as Node.js, PeerJS, Socket.io, and Express. It also uses nodemon for running in development.
        </p>
    </div>
</section>

<section id="demo-link">
    <h1>Live Demo</h1>
    <hr />
    <a href="https://video.henryhiles.com" target="_blank" rel="noreferrer">
        <h2>Go to live demo</h2>    
    </a>
</section>