@page "/error/404"
@model NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="small-panel">
    <h1>Page not found.</h1>
    <hr />
    <br>
    <span>
        We couldn't find that page.
        <br>
        <a id="back" href="#">Go back</a>, or return to our
        <a asp-page="/Index">home page</a>.
    </span>
</div>

@section scripts {
<script>
    document.getElementById( "back" ).addEventListener( "click", () => history.go( -1 ) );
</script>
}