header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
        max-width: 35rem;
        height: min-content;
    }

    & span {
        font-size: 2em;
        display: flex;
        text-align: center;
        padding: 2rem 0.5rem;
        padding-top: 0;
    }

    & a {
        font-size: 0.5rem;
    }
}

mdui-card {
    overflow: visible;
    max-width: 1000px;
    width: 100%;
}

main > * > section {
    &#certificates div {
        padding: 1em;
        flex-wrap: wrap;

        & a {
            min-width: 150px;
            width: 15%;
        }
    }

    &#projects div {
        display: flex;
        gap: 0;
        flex-direction: column;

        & section {
            margin: 0.5em;
            padding: 1em;
            display: flex;
            gap: 2.3rem;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            & article {
                & span {
                    color: hsl(0, 0%, 60%);
                }
                & h3 {
                    font-size: 1.85em;
                    align-items: center;
                    font-weight: normal;
                    margin: 0.3em 0;
                    display: flex;
                    gap: 0.7rem;

                    & img {
                        width: 2.5rem;
                        @media (max-width: 450px) {
                            display: none;
                        }
                    }
                }
                & p {
                    margin: 0.7rem 0;
                }
                width: 420px;
            }
            & aside {
                display: flex;
                justify-content: center;
                width: 380px;
                gap: 1em;
                & img {
                    border-radius: var(--mdui-shape-corner-medium);

                    .double > & {
                        width: 45%;
                    }
                }
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    &#about #stats div {
        flex-wrap: wrap;
        & img {
            max-width: 350px;
            min-width: 300px;
        }
    }
}
