@model HenryHiles.Pages._EmailTemplates.ContactUsEmail
@{
    Layout = "~/Pages/_EmailTemplates/_EmailLayout.cshtml";
}

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    You have received a message from @Model!.Name (IP: @(Model.Ip ?? "Not Found") (@Model.EmailAddress)
</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    @Model.Message
</p>