@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<section id="jumbo">
	<h1>Henry Hiles</h1>
	<hr />
	<p>Full Stack .NET Developer & Discord Bot Developer</p>
	<hr round="true">
</section>
<section id="portfolio">
	<h1>My Projects</h1>
	<hr />
	<div class="portfolio-items">
		<a asp-page="Projects/FlappyBird">
			<img src="images/flappyThumb.jpg" alt="Quadratic Giveaways">
			<h2>
				Flappy Bird Online
			</h2>
		</a>
		<a asp-page="Projects/PokeAPI"> 
			<img src="images/pokeAPIThumb.png" alt="PokeAPI Searcher">
			<h2>
				PokeAPI Searcher
			</h2>
		</a>
        <a asp-page="Projects/QuadraticBot"> 
			<img src="images/quadraticBot.png" alt="Quadratic Giveaways">   
			<h2>
				QuadraticBot 2.0
			</h2>
		</a>
	</div>
</section>

<section id="about">
	<h1>About</h1>
	<hr />
	<p>
		Hi! I'm Henry Hiles, a full stack .NET developer. I specialize in ASP.NET Core Razor Pages.
	</p>
	<p>
		I also create discord bots using node.js, like
		<a asp-fragment="portfolio">Quadratic Giveaways</a>.
	</p>

</section>
<section id="contact">
	<h1>Contact</h1>
	<hr />
	<div id="form">
		<partial name="_ContactForm" />
	</div>
</section>

@section scripts {
<script>
	document.addEventListener( "submit", async ( event ) => {
		event.preventDefault()
		try {
			let submit = document.querySelector( "#submit" )
			let sumbitText = submit.innerHTML
			submit.innerHTML = "Sending Email..."
			submit.disabled = true
			let formData = new FormData( event.target )
			const response = await fetch( '', {
				method: 'post',
				body: new URLSearchParams( formData ),
				headers: { "X-Requested-With": "XMLHttpRequest" }
			} )
			event.target.innerHTML = await response.text()
		} catch ( error ) {
			console.log( error )
		}
	} )
</script>
}